
.header-img{
  
                  filter: brightness(50%);
} 

@media only screen and (max-width:688px) {
    
    .header-img{
        height: 236px;
       
    }
    .banner-head{
        font-size: 18px;

    }
    .banner-text{
        font-size: 13px;
    }
    
}

@media only screen and (min-width:689px) and (max-width:992px) {
    
    .header-img{
        height: 236px;
       
    }
    .banner-head{
        font-size: 26px;

    }
    .banner-text{
        font-size: 17px;
    }
    
}